.dropdown{
    width: 23%;
    position: relative;
}
.dropdown-btn{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    padding:0px 10px;
    background-color: #2e2925;
    margin-bottom: 4px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.icon{
    width: 50px;
    text-align: center;
    color: white;
    font-size: 20px;
    transition: .5s;
}
.text{
    display: inline-block;
    width: 60%;
    line-height: 50px;
    text-align: center;
    color: white;
    font-size: 20px;
}
.dropdown-content{
    position: absolute;
    width: 90%;
    padding: 5%;
    background-color: #2e2925;
    cursor: pointer;
    z-index: -1;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: none;
}
.slider{
    position: absolute;
    width: 89.7%;
    height: 35px;
    background-color: #7a7873;
    z-index: -1;
    border-radius: 15px;
    cursor: pointer;
    
}
.item{
    display: block;
    line-height: 35px;
    padding-left: 10px;
    background-color:transparent;
    color: white;
    z-index: 1;
}



